/manuals/
.env
/.idea/

# ignore all .DS_Store files mac gererated files
.DS_Store

# ignore all pyc files
**/__pycache__/

# ignore all txt or csv files
*.txt
*.csv

# Exclude Python virtual environment directories
venv/
.venv/
env/
ENV/

# (Optional) If you have nested venv directories:
**/venv/
**/.venv/
**/env/
**/ENV/

#Sensitive_inputs
**/Names/
# **/sounds/

#Output folders
**/Output/
**/Export/